<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Familiar</title>
</head>
<body>
<h2 style="color:violet">Lista de Familiares:</h2>
<br>
    <h4 style="color:red"> Nombre {{persona1.nombre}}, su edad es {{persona1.edad}}, su email: {{persona1.email}} y su fecha de carga es: {{perosna1.fnac}}</h4>
<br>
    <h4 style="color:blue">Nombre {{persona2.nombre}}, su edad es {{persona2.edad}}, su email: {{persona2.email}} y su fecha de carga es: {{perosna2.fnac}}</h4>
<br>
    <h4 style="color:orange">Nombre {{persona3.nombre}}, su edad es {{persona3.edad}}, su email: {{persona3.email}} y su fecha de carga es: {{perosna3.fnac}}</h4>

</body>
</html>